/* General Reset */
body, html, .homepage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;  
}

.landingpage {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;        
  height: 100vh;                  
}

.left-column-landing {
  display: grid;                  
  grid-template-rows: 1fr 4fr 1fr;
  height: 90vh;                   
  padding: 10px;                    
}

.right-column-landing {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  padding: 10px;
  overflow-y: auto;  
}


.top-row-landing {
  display: grid;                 
  grid-template-columns: 1fr 2fr;
  justify-items: left;           
  align-items: center;           
  position: relative;             
  top: 0;                         
  height: 50%;                    
  padding: 10px;
  
}

.middle-row-landing {
  display: grid;
  grid-template-rows: 1fr 4fr;     
  gap: 1px;                       
  padding: 10px;
}

.spinning-globe-landing {
  display: flex;
  justify-content: center;         
  align-items: center;             
  height: 200px;                   
  width: 200px;                    
  border-radius: 10px;             
  overflow: hidden;                
}

.website-name-landing {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;  
  text-align: left;
}

.headline-container {
  width: 100%;

}
