/* General Reset */
body, html, .homepage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;  /* Ensures the page takes full height of the viewport */
  }
  
  .landingpage {
    display: grid;
    grid-template-columns: 1fr 1.1fr; /* Two equal columns */
    grid-template-rows: 1fr;        /* Single row with columns taking full height */
    height: 100vh;                  /* Full height of the viewport */
    overflow: hidden;               /* Prevents scrolling the entire page */
  }
  
  
  .left-column-landing {
    display: grid;                  /* Use grid display to handle multiple rows */
    grid-template-rows: 1fr 3fr 1fr;     /* Two rows of equal height */
    height: 100vh;                   /* Take full height of the right column */
    padding: 5px;                   /* Optional: Add padding */
  }
  
  .right-column-landing {
    display: grid;                  /* Use grid to handle rows inside left column */
    grid-template-rows: 1fr 9fr;     /* Two rows: top takes less space, bottom takes more space */
    overflow-y: auto;               /* Allow scrolling in the left column */
    padding: 5px;                   /* Optional: Add padding for better content separation */
  }
  
  .top-row-landing {
    display: grid;                 /* Use grid to split into two columns */
    grid-template-columns: 1fr 4fr; /* Two equal columns */
    justify-items: left;          /* Center the content inside each grid cell */
    align-items: center;            /* Center vertically */
    position: sticky;               /* Sticky positioning */
    top: 0;                         /* Stick to the top of the viewport */
    height: 50%;                    /* Take half the height of the right column */
    padding: 20px;
  }

  .spinning-globe-landing {
    display: flex;
    justify-content: center;         /* Center horizontally */
    align-items: center;             /* Center vertically */
    height: 200px;                   /* Fixed height */
    width: 200px;                    /* Fixed width */
    border-radius: 10px;             /* Optional: Rounded corners */
    overflow: hidden;                /* Optional: Clip overflow */
  }
  
  .website-name-landing {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;  /* You can change this to your preferred color */
    text-align: left;
  }
